body{
    font-family: "Arial", "メイリオ", "ヒラギノ角ゴシック";
}
header {
    background-color: blue;
}
header h1 {
    font-size: small;
    text-align:center
}
body {
    background-color: #ffffff;
    /* margin-top: 50px; */
}
.top {
    padding: 0.5em 1em 0; /*上 左右 下*/
    margin: 2em 0 0;
    color: #ffffff;
    background: #ffffff;/*背景色*/
    align-content: center;
}
.top p {
    margin: 0;
    padding: 0;
}
.tab {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #ffffff;
    background: #ffffff;/*背景色*/
}
.tab p {
    margin: 0;
    padding: 0;
}
.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    /* background-color: #3d3d3d; */
}
.nav-justified {
    display: table;
    table-layout: fixed;
    width: 100%;
}